PORT=3000
NODE_ENV=development
AFAD_URL=https://deprem.afad.gov.tr/apiv2/event/filter
MGM_URL=https://servis.mgm.gov.tr
IBB_URL=https://api.ibb.gov.tr
NAMAZ_URL=https://vakit.vercel.app
TCMB_URL=https://www.tcmb.gov.tr/kurlar/today.xml
